# Assignment 1, Task 1 - KMeans clustering

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')
data.head()

   height  tail length  leg length  nose circumference
0   5.151        3.535       1.414               0.202
1   4.949        3.030       1.414               0.202
2   4.747        3.232       1.313               0.202
3   4.646        3.131       1.515               0.202
4   5.050        3.636       1.414               0.202

In [3]:
data.describe()

           height  tail length  leg length  nose circumference
count  300.000000   300.000000   300.00000          300.000000
mean     5.930983     3.103193     3.81437            1.217323
std      0.839601     0.441935     1.78890            0.772409
min      4.343000     2.020000     1.01000            0.101000
25%      5.202000     2.828000     1.61600            0.305250
50%      5.858000     3.060000     4.41500            1.326000
75%      6.528000     3.366000     5.20200            1.836000
max      8.058000     4.488000     7.03800            2.550000