Data Mining and Visualisation 2019 - 2020 <br>
Practical 1 - Data Processes and Exploratory Data Analysis <br>
Teaching Assistant: Muhammad Usman <br>

In this exercise you are asked to use a dataset provided and generate a number of plots and descriptive statistics using prebuilt functions and numpy.<br> 

**Step 2:** For each of the features included in this dataset please provide the following information: number of instances, mean, std, min, 25%, 50%, 75% and max values. This can be achieved via one command but do that also with numpy directly. Please also check for any missing values present.<br>
**Step 3:** Using the seaborn library and matplotlib generate two plots, one  plot showing two box plots one for each of the two classes for the feature PressureA. The second plot should be a density plot using sns.kdeplot, using the feature Tortuosity this time.<br>
**Step 4:** Using seaborn library create a scatterplot using all data available. By default, this function will create a grid of Axes such that each numeric variable in data will by shared in the y-axis across a single row and in the x-axis across a single column. The diagonal Axes are treated differently, drawing a plot to show the univariate distribution of the data for the variable in that column.<br>

#Imports

In [0]:
import numpy as np
import pandas as pd
import io

from google.colab import files

#Step 1
Upload and import the dataset "Dataset.csv" - you may use the file.upload command of google.colab and pandas library to read the file.

In [18]:
data = pd.read_csv(io.StringIO(files.upload()['Dataset.csv'].decode('utf-8')))

Saving Dataset.csv to Dataset (2).csv

In [19]:
data.head()

      Class  PressureA  PressureV  ...  CRAE_LEON        FD  Tortuosity
0  Diabetes     7.7122     0.4159  ...   18.37300  1.565450    1.051845
1  Diabetes     8.5249     0.6495  ...   20.45850  1.683950    1.038492
2  Diabetes     8.0916     0.0410  ...   15.75050  1.641175    0.902639
3  Diabetes     1.0010     0.3482  ...   15.28475  1.645575    1.003063
4  Diabetes     5.5332     0.4037  ...   15.47550  1.635375    1.106997

[5 rows x 11 columns]

In [21]:
set(data['Class'])

{'DR', 'Diabetes'}